@import "./base/base";
@import "./base/variaveis";

//Main Screen
.main__screen {
  width: 450px;

  @media (max-width: 450px) {
    width: 250px;
  }
}

section {
  border: 1px solid gray;
  backdrop-filter: blur(5px);
}

//Input conversion
.input__receive {
  width: 150px;
  padding: 0;
}

.list__items {
  input {
    display: none;
  }

  label {
    cursor: pointer;

    &:hover {
      background-color: $bg;
      border-radius: 5px;
      padding: 5px;

      transition: 0.2s;
    }
  }
}

.div__imgCoins {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  img {
    width: 70px;
  }
}

//Amimation 
@keyframes piscar {
  0% {
    filter: drop-shadow(0 0 25px $amarelo)
  } 100% {
  }
}

@keyframes aparecer {
  to {
    opacity: 0
  } from {
    opacity: 1;
  }
}

.animar {
  animation: piscar 1s infinite alternate
}

.aparecer {
  animation: aparecer 1s infinite alternate
}