/* Cores */
/* Hovers */
/* Fonte */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  width: 100vw;
  height: 100vh;
  background-image: url(../assets/background/image.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Cores */
/* Hovers */
/* Fonte */
.tela-principal {
  padding-top: 6rem;
}
@media (max-width: 1024px) {
  .tela-principal {
    padding-top: 3.125rem;
    gap: 1rem;
  }
}
@media (max-width: 768px) {
  .tela-principal {
    padding-top: 2rem;
    gap: 0.5rem;
  }
}

.conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  width: 600px;
  margin: 0 auto;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
@media (max-width: 990px) {
  .conteudo {
    width: 400px;
  }
}
@media (max-width: 425px) {
  .conteudo {
    width: 180px;
  }
}
.conteudo h1 {
  color: #fff;
  font-size: 2rem;
}
@media (max-width: 768px) {
  .conteudo h1 {
    font-size: 1.5rem;
    line-break: auto;
    text-align: center;
  }
}
.conteudo .conversao {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #fff;
}
.conteudo .conversao label {
  font-size: 2.25rem;
}
.conteudo .conversao input[type=number] {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  padding: 0.2rem;
}
@media (max-width: 768px) {
  .conteudo .conversao {
    width: 165px;
    flex-direction: column;
  }
}
.conteudo .conversaoInternacional {
  width: 250px;
  margin: 0 auto;
  color: #fff;
}
@media (max-width: 425px) {
  .conteudo .conversaoInternacional {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    width: 100%;
  }
}
.conteudo .conversaoInternacional button:hover,
.conteudo .conversaoInternacional button:focus {
  background: #F7DE3A;
}
.conteudo .conversaoInternacional input[type=radio] {
  display: none;
}
.conteudo .conversaoInternacional label {
  font-size: 1.2rem;
  cursor: pointer;
}
.conteudo .conversaoInternacional input[type=text] {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  padding: 0.2rem;
}
@media (max-width: 425px) {
  .conteudo .conversaoInternacional input[type=text] {
    width: 165px;
  }
}
.conteudo .botoes .btnLimpar {
  background-color: #222;
  border: 2px solid #f92828;
  box-sizing: border-box;
  cursor: pointer;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  fill: #000;
  height: 48px;
  outline: 0;
  color: #f92828;
  font-size: 16px;
  font-weight: 600;
  font-family: Inter, sans-serif;
  letter-spacing: -0.8px;
  line-height: 24px;
  min-width: 140px;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.conteudo .botoes .btnLimpar:hover {
  border-color: #222;
  color: #f92828;
  transition: 0.2s;
}
@media (min-width: 768px) {
  .conteudo .botoes .btnLimpar .btnLimpar {
    min-width: 170px;
  }
}
@media (max-width: 768px) {
  .conteudo .botoes {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }
}

.paragrafo {
  color: #fff;
  font-size: 1.2rem;
}

.imgMoedas {
  display: flex;
  gap: 2rem;
  width: 50%;
}
.imgMoedas img {
  width: 100px;
}
@media (max-width: 768px) {
  .imgMoedas img {
    width: 80px;
  }
}
@media (max-width: 425px) {
  .imgMoedas img {
    width: 50px;
  }
}

/* ANIMACAO */
@keyframes piscar {
  0% {
    filter: drop-shadow(0 0 25px #ffc107);
  }
}
@keyframes aparecer {
  to {
    opacity: 0;
  }
  from {
    opacity: 1;
  }
}
.animar {
  animation: piscar 1s infinite alternate;
}

.aparecer {
  animation: aparecer 1.5s ease-in;
}/*# sourceMappingURL=style.css.map */