@import "./base/base";
@import "./base/variaveis";

.tela-principal {
  width: 100%;
}

.conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;

  width: 500px;
  margin: 85px auto;

  backdrop-filter: blur(5px);

  @media (max-width: 768px) {
    width: 400px;
    margin-top: 75px;
  }

  @media (max-width: 425px) {
    width: 200px;
    margin-top: 50px;
  }

  //Título
  h1 {
    color: $branco;
    font-size: 2rem;
    margin: 0;

    @media (max-width: 425px) {
      width: 80%;
    }
  }

  //Input Conversão valor real
  .conversao {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    label {
      font-size: 1.6rem;
    }

    input[type="number"] {
      color: $bg;
      background: $branco;
      border: 0;

      border-radius: 0.3rem;

      font-size: 1.2rem;
      font-weight: 600;
      letter-spacing: -1px;
      text-align: center;
    }

    @media (max-width: 425px) {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      input[type="number"] {
        width: 85%;
      }
    }
  }

  //Input Conversão valor internacional
  .conversaoInternacional {
    width: 50%;

    //Lista
    ul {
      padding: 0;
      background: $bg;
    }

    //Lista item
    li {
      padding: 0.2rem 0;
    }

    //Input radio d-none
    input[type="radio"] {
      display: none;
    }

    //Label nome moedas
    label {
      cursor: pointer;
      width: 100%;

      &:hover {
        width: 60%;
        background: #000;
        border-radius: 0.2rem;

        transition: 0.4s;
      }
    }

    button {
      text-align: center;
    }

    /* Conversão Internacional */
    input[type="number"] {
      color: $bg;
      font-weight: 500;

      padding: 0;
    }

    @media (max-width: 425px) {
      display: flex;
      flex-direction: column;
      align-items: center;

      gap: 0.5rem;

      button {
        border-radius: 0;
      }

      input[type="number"] {
        width: 100%;
        border-radius: 0;
      }
    }
  }

  //Botoes
  .botoes {
    .btnLimpar {
      background-color: $bg;
      border: 2px solid $vermelho;
      box-sizing: border-box;
      cursor: pointer;

      align-items: center;
      display: inline-flex;
      justify-content: center;

      fill: #000;
      height: 48px;
      outline: 0;

      color: $vermelho;
      font-size: 16px;
      font-weight: 600;
      font-family: Inter, sans-serif;
      letter-spacing: -0.8px;
      line-height: 24px;
      min-width: 140px;
      padding: 0 17px;

      text-align: center;
      text-decoration: none;

      transition: all 0.3s;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;

      &:hover {
        border-color: $bg;
        color: $vermelho;
        transition: 0.2s;
      }

      @media (min-width: 768px) {
        .btnLimpar {
          min-width: 170px;
        }
      }
    }

    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
    }
  }
}

//Paragrafo de instrucao
.paragrafo {
  color: $branco;
  font-size: 1.2rem;

  margin: 0;
}

//Imagens
.imgMoedas {
  display: flex;
  align-items: center;
  gap: 1rem;

  margin: 0;

  img {
    width: 65px;
  }
}

/* ANIMACAO */
//Animacao de Piscar

@keyframes piscar {
  0% {
    filter: drop-shadow(0 0 25px #ffc107);
  }

  100% {
  }
}

@keyframes aparecer {
  to {
    opacity: 0;
  }

  from {
    opacity: 1;
  }
}

.animar {
  animation: piscar 1s infinite alternate;
}

.aparecer {
  animation: aparecer 1.5s ease-in;
}
