/* Cores */
/* Hovers */
/* Fonte */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  width: 100vw;
  height: 100vh;
}

/* Cores */
/* Hovers */
/* Fonte */
.tela-principal {
  background-image: url(../assets/background/image.png);
  background-repeat: none;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding-top: 6.25rem;
}
@media (max-width: 1024px) {
  .conteudo {
    padding-top: 3.125;
    gap: 1rem;
  }
}
@media (max-width: 768px) {
  .conteudo {
    padding-top: 20px;
    gap: 0.5rem;
  }
}
.conteudo h1 {
  font-size: 2rem;
}
@media (max-width: 768px) {
  .conteudo h1 {
    font-size: 1.5rem;
    line-break: auto;
    text-align: center;
  }
}
.conteudo .conversao {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.conteudo .conversao label {
  font-size: 1.8rem;
}
.conteudo .conversao input[type=number] {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  padding: 0.2rem;
}
@media (max-width: 768px) {
  .conteudo .conversao {
    flex-direction: column;
  }
}
.conteudo .moedas {
  display: flex;
  gap: 1rem;
}
.conteudo .moedas div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.conteudo .moedas div label {
  font-size: 1.1rem;
}
@media (max-width: 768px) {
  .conteudo .moedas {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
.conteudo .botoes .btnConverter {
  background-color: #222;
  border: 2px solid #F7DE3A;
  box-sizing: border-box;
  cursor: pointer;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  fill: #000;
  height: 48px;
  outline: 0;
  color: #F7DE3A;
  font-size: 16px;
  font-weight: 600;
  font-family: Inter, sans-serif;
  letter-spacing: -0.8px;
  line-height: 24px;
  min-width: 140px;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.conteudo .botoes .btnConverter:hover {
  border-color: #222;
  color: #F7DE3A;
  transition: 0.2s;
}
@media (min-width: 768px) {
  .conteudo .botoes .btnConverter .btnConverter {
    min-width: 170px;
  }
}
.conteudo .botoes .btnLimpar {
  background-color: #222;
  border: 2px solid #f92828;
  box-sizing: border-box;
  cursor: pointer;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  fill: #000;
  height: 48px;
  outline: 0;
  color: #f92828;
  font-size: 16px;
  font-weight: 600;
  font-family: Inter, sans-serif;
  letter-spacing: -0.8px;
  line-height: 24px;
  min-width: 140px;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.conteudo .botoes .btnLimpar:hover {
  border-color: #222;
  color: #f92828;
  transition: 0.2s;
}
@media (min-width: 768px) {
  .conteudo .botoes .btnLimpar .btnLimpar {
    min-width: 170px;
  }
}
@media (max-width: 768px) {
  .conteudo .botoes {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }
}

.paragrafo {
  color: #fff;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border-radius: 2px;
}
@media (max-width: 768px) {
  .paragrafo {
    line-break: auto;
    text-align: center;
  }
}

.imgMoedas {
  display: flex;
  gap: 3rem;
  margin-top: 1rem;
}
.imgMoedas img {
  width: 100px;
}

/* ANIMACAO */
@keyframes piscar {
  0% {
    filter: drop-shadow(0 0 25px #ffc107);
  }
}
@keyframes aparecer {
  to {
    opacity: 0;
  }
  from {
    opacity: 1;
  }
}
.animar {
  animation: piscar 1s infinite alternate;
}

.aparecer {
  animation: aparecer 1.5s ease-in;
}/*# sourceMappingURL=style.css.map */