/* Cores */
//Backgrounds
$bg: #222;

//Cor
$branco: #fff;
$amarelo: #F7DE3A;
$vermelho: #f92828;

/* Hovers */
$hover-amarelo: #ab9a29;
$hover-vermelho: #a11b1b;

/* Fonte */
$fonte: "Roboto", sans-serif;
$tamanho-da-fonte: 1rem;