/* Cores */
//Backgrounds
$bg: #222;

//Cor
$branco: #fff;
$amarelo: #0008ff;
$vermelho: #ff0000;

/* Hovers */
$hover-azul: #10135f;
$hover-vermelho: #601515;

/* Fonte */
$fonte: "Roboto", sans-serif;
$tamanho-da-fonte: 1rem;
